XMLMigration/Config/ForumConfig/forum-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- 5724-S31                                                          -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2006, 2012  All Rights Reserved.              -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with           -->
<!-- IBM Corp.                                                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!-- 5724-S68                                                          -->
<!-- 5724-L21                                                          -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 <xs:annotation>
  <xs:documentation>
    Activities - IBM Lotus Social Networking Software. 
    Licensed Materials - Property of IBM.
    (C) Copyright IBM Corp. 2006. All Rights Reserved. 
    US Government Users Restricted Rights - Use, duplication or
    disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
  </xs:documentation>
 </xs:annotation>
 <xs:element name='activeContentFilter'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tags'  minOccurs='0'/>
     <xs:element ref='mimeTypes'/>
   </xs:sequence>
   <xs:attribute name='class' use='optional' type='xs:NMTOKEN'/>
   <xs:attribute name='enabled' use='required' type='xs:boolean'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='discussThis'>
  <xs:complexType>
   <xs:sequence>
     <xs:element name='targetBookmarklet' type='xs:string'/>
   </xs:sequence>
   <xs:attribute name='enabled' use='required' type='xs:boolean'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='any-header-expression'>
  <xs:complexType mixed='true'>
  <xs:attribute name='header' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='config'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='webUi' minOccurs='0'/>
     <xs:element ref='eventBroker' minOccurs='1'/>
     <xs:element ref='scheduledTasks' minOccurs='1'/>
     <xs:element ref='deployment' minOccurs='0'/>
     <xs:element ref='objectStore' minOccurs='0'/>
     <xs:element ref='registerMbeans' minOccurs='1'/>
     <xs:element ref='activeContentFilter' minOccurs='0'/>
     <xs:element ref='javalin' minOccurs='0'/>
     <xs:element ref='dojo' minOccurs='0'/>
     <xs:element ref='discussThis' minOccurs='0'/>
   </xs:sequence>
   <xs:attribute name='id' use='required' type='xs:NMTOKEN'/>
   <xs:attribute name='version' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='create'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='databaseType'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='error'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='event'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='eventBroker'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='subscriber' minOccurs='1' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='events'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='event' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='filter'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='property' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='class' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='footer'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='header'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='host'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='id'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='images-prefix'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='isClustered'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='javalin'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='javalinCard' minOccurs='0'/>
     <xs:element ref='sametimePresence' minOccurs='0'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='javalinCard'>
  <xs:complexType>
  <xs:attribute name='enabled' use='required' type='xs:boolean'/>
  <xs:attribute name='url' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='jmx'>
  <xs:complexType>
  <xs:attribute name='enabled' use='required' type='xs:boolean'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='limit'>
  <xs:complexType mixed='true'>
  <xs:attribute name='mimeFilenameRegex' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='deployment'>
  <xs:complexType>
   <xs:attribute name='enableCategory' use='required' type='xs:boolean'/>
   <xs:attribute name="enableLotusLive" use="optional" type="xs:boolean" />
   <xs:attribute name='enableNonMemberContributor' use='optional' type='xs:boolean'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='registerMbeans'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='jmx'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='max-number-attachment-per-post' type='xs:nonNegativeInteger'/>
 <xs:element name="allow-upload" type="xs:boolean"/>
 <xs:element name='mimeType'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='mimeTypes'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='mimeType' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='notify'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='objectStore'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='store' maxOccurs='unbounded'/>
     <xs:element ref='sizeLimits' minOccurs='0'/>
     <xs:element ref='max-number-attachment-per-post' minOccurs='0'/>
     <xs:element ref="allow-upload"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 
  <!--  -->
  <xs:element name='scheduledTasks'>
   <xs:complexType>
    <xs:sequence>
      <xs:element ref='task' minOccurs='1' maxOccurs="unbounded" />
    </xs:sequence>
   </xs:complexType>
  </xs:element>
  <!-- --> 
 <xs:element name='task'>
	<xs:complexType>
		<xs:sequence>
		<xs:element ref='args'  minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="interval" type="xs:string" use="required" />
		<xs:attribute name="startby" type="xs:string" use="required" />

		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="enabled" type="xs:boolean" use="required" />
		<xs:attribute name="targetName" type="xs:string" use="required" />
		<xs:attribute name="mbeanMethodName" type="xs:string" use="required" />
		<xs:attribute name="scope" type="xs:string" use="required" />
		<xs:attribute name="serverName" type="xs:string" use="required" />
		<xs:attribute name="description" type="xs:string" use="required" />
	</xs:complexType>
 </xs:element>

 <xs:element name='args'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='property' minOccurs='0'  maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element> 
 <xs:element name='password'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='authentry'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='property'>
  <xs:complexType mixed='true'>
  <xs:attribute name='name' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='reject-filter'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='any-header-expression'/>
   </xs:sequence>
  <xs:attribute name='deleteMatches' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sametimePresence'>
  <xs:complexType>
  <xs:attribute name='enabled' use='required' type='xs:boolean'/>
  <xs:attribute name='url' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='samples'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='sizeLimits'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='limit' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='store'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='id'/>
     <xs:element ref='property' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='class' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='default' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='subscriber'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='events'/>
     <xs:element ref='property' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='class' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='tag'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='tags'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='tag'  minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='size-limit'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element> 
 <xs:element name='tools'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='user'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='webUi'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='header'/>
     <xs:element ref='footer'/>
     <xs:element ref='tools'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
<xs:element name='dojo'>
<xs:complexType>
<xs:attribute name='url' use='optional' type='xs:string'/>
</xs:complexType>
</xs:element>
</xs:schema>
